#editor {
    height: 75vh;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

#feedback {
    height: 70vh;
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
}

.ql-toolbar, .ql-snow {
    width: 62vw;
    margin: 0px 5px 0px 5px;
}

#analyze {
  margin-top: 5px;
}

#analyze-button-container {
  width: 62vw;
  text-align: center;
}

.improveButton {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
